function Main.main 8
push constant 511
pop local 0
push constant 255
pop local 1
push local 0
push constant 2
call Math.divide 2
push local 1
push constant 2
call Math.divide 2
call Point.new 2
pop local 4
push constant 4
pop local 2
push constant 0
pop local 3
push local 4
push local 2
push local 3
call DrawKeyboard.new 3
pop local 5
push local 5
call DrawKeyboard.draw 1
pop local 6
push local 6
call KeyboardEmu.Body 1
pop local 7
push local 6
call KeyboardEmu.monitorKeyboard 1
pop temp 0
push constant 0
return
function Main.drawBlackBackground 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push argument 0
push argument 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
