function Point.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Point.X 0
push argument 0
pop pointer 0
push this 0
return
function Point.Y 0
push argument 0
pop pointer 0
push this 1
return
function Point.subPoint 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Point.X 1
sub
pop this 0
push this 1
push argument 1
call Point.Y 1
sub
pop this 1
push constant 0
return
function Point.sub 0
push argument 0
pop pointer 0
push this 0
push argument 1
sub
pop this 0
push this 1
push argument 1
sub
pop this 1
push constant 0
return
function Point.addPoint 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Point.X 1
add
pop this 0
push this 1
push argument 1
call Point.Y 1
add
pop this 1
push constant 0
return
function Point.add 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop this 0
push this 1
push argument 1
add
pop this 1
push constant 0
return
function Point.addPointStatic 4
push argument 0
call Point.X 1
pop local 0
push argument 0
call Point.Y 1
pop local 1
push argument 1
call Point.X 1
pop local 2
push argument 1
call Point.Y 1
pop local 3
push local 0
push local 2
add
push local 1
push local 3
add
call Point.new 2
return
function Point.addStatic 2
push argument 0
call Point.X 1
pop local 0
push argument 0
call Point.Y 1
pop local 1
push local 0
push argument 1
add
push local 1
push argument 1
add
call Point.new 2
return
function Point.subPointStatic 4
push argument 0
call Point.X 1
pop local 0
push argument 0
call Point.Y 1
pop local 1
push argument 1
call Point.X 1
pop local 2
push argument 1
call Point.Y 1
pop local 3
push local 0
push local 2
sub
push local 1
push local 3
sub
call Point.new 2
return
function Point.subStatic 2
push argument 0
call Point.X 1
pop local 0
push argument 0
call Point.Y 1
pop local 1
push local 0
push argument 1
sub
push local 1
push argument 1
sub
call Point.new 2
return
function Point.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
